body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title {
    color: #738f93;
    font-size: 40px;
    font-family: sans-serif, fantasy;
    margin-bottom: 0;
}

.img-home {
    width: 500px;
    padding: 50px;
}

.btn-search {
    background-color: #1ba94c;
    color: #fff;
    box-shadow: 0 4px 12px rgb(27 169 76 / 50%);
    font-size: 18.005px;
    /* padding-left: 1.528em;
    padding-right: 1.528em;
    padding-top: 0;
    padding-bottom: 0; */
    padding: 0 1.528em;
    min-height: 2.778em;
    border: none;
    cursor: pointer;
}

.btn-search:hover {
    background-color: #ffffff;
    border: 1px solid #1ba94c;
    color: #1ba94c;
}

.characters {
    padding: 50px;
}

.characters h1 {
    margin-top: 0;;
}

.container-characters {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    padding: 0 0 50px 0;
}

.character-container {
    display: flex;
    background-color: #3c3e44;
    margin: 20px 10px;
    border-radius: 10px;
    align-items: flex-start;
}

.character-container h3 {
    margin: 10px 0;
}

.character-container h6 {
    margin-top: 0px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 16px;
}

.character-container .dead,
.alive {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    border-radius: 50px;
    display: inline-block;
}

.character-container .dead {
    background-color: red;
}

.character-container .alive {
    background-color: green;
}

.character-container div:first-child {
    height: 100%;
}

.character-container div:last-child {
    text-align: left;
    padding-left: 20px;
}

.character-container div:last-child p {
    text-align: left;
}

.character-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.character-container p {
    font-size: 17px;
    text-align: center;
    margin: 5px 0;
}
.back-home {
    text-decoration: underline;
    cursor: pointer;
    font-size: 15px;
  }